*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(26, 68, 133);
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;  
    height: 200px;
    flex-shrink: 0;
}

.logo {
    display: flex;
    height: 60px;
    margin-left: 90px;
}

.logo p {
    font-family: 'Bebas Neue', sans-serif;  
    margin-left: 8px;
    font-size:25px;
    color: black;
}

.logo a  {
    font-family: 'Bebas Neue', sans-serif;  
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-top: 80px;
    margin-left: 215px;
    color: white;
}

#home {
    margin-left: 390%;
}

* {box-sizing: border-box}

.container {
    padding: 16px;
    width: 600px;
    margin-left: 35%;
    margin-top: 90px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(231, 231, 231);
    border-radius: 12px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(34, 73, 131);
    margin-bottom: 100px;
}

#register1 {
    text-align: center;
    margin-bottom: 24px;



}

input[type=text],input[type=email], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 12px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  background-color: rgb(26, 68, 133);
  border-radius: 12px;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}


.footerContainer {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer {
    background-color: rgb(26, 68, 133);
    padding: 80px 0;
}

.footerColumn {
    width: 25%;
    padding: 0px 50px;
}

.footerColumn h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-family: 'Bebas Neue', sans-serif; 
    font-weight: 500;
    position: relative;
}

.footerColumn h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footerColumn a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    font-family: 'Bebas Neue', sans-serif; 
    transition: all 0.3s ease;
}

.footerColumn a:hover {
    color: #ffffff;
    padding-left: 10px;
}